#content {
    display: grid;
    justify-content: center;
}

#content .card {
    display: grid;
    grid-template-columns: 780px 400px;
    grid-template-rows: auto;
    column-gap: 6px;
    row-gap: 2px;
    margin-top: 30px;
}
#content .card img {
    border-radius: 2px;
}

#content .-thumb1 {
    grid-row: 1 / span 2;
}

#content .type {
    display: flex;
}

#content .row-type {
    display: flex;
    justify-content: space-around;
    background-color: #ffff;
    margin-top: 20px;
    width: 1200px;
    height: 100px;
}

#content .type-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 90px;
    padding: 7px;
}

#content .icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

#content .name-item{
    font-size: 12px;
    width: 100px;
}

#content .type-item img {
    border-radius: 12px;
}