
#nav{
    display: flex;
    justify-content: center;
    background-color: #f7432e;
    background-image: linear-gradient(#f7432e,#fe6132);
    
}

#nav .-brand {
    display: grid;
    grid-template-columns: 100px 150px;
    align-items: center;
    height: 100%;
}
#nav .-logo {
    height: 100px;
    display: flex;
}
#nav .-name-logo {
    display: flex;
    font-size: 26px;
    color: #fff;
}

#nav .-search {
    width: 750px;
    display: flex;
    /* display: grid;
    grid-template-columns: 700px 30px; */
    align-items: center;
}

#nav .-search-box {
    width: 100%;
    height: 2.5rem;
    display: flex;
    /* display: grid; */ 
    /* grid-template-columns: 100%; */
    align-items: center;
}

#nav .-search-input {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    border-radius: 2px;
    padding-left: 0rem;
    padding-inline: 12px;
}

#nav .-cart {
    display: flex;
    align-items: center;
}

#nav .-logo-cart {
    margin-right: 50px;
}